<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">Update User</h2>
            <div class="card my-5">

                <form action="/update/{{id}}" method="post" class="card-body cardbody-color p-lg-5">

                    <div class="mb-3">
                        <input type="text" name="name" value="{{name}}" class="form-control" placeholder="User Name">
                    </div>

                    <div class="mb-3">
                        <input type="text" name="phonenumber" value="{{phonenumber}}" class="form-control" placeholder="Phone number">
                    </div>

                    <div class="mb-3">
                        <input type="text" name="email"  value="{{email}}" class="form-control" placeholder="Email">
                    </div>

                    <div class="mb-3">
                        <input type="password" name="password"  value="{{password}}" class="form-control" placeholder="password">
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-color px-5 mt-3 mb-5 w-100">Update</button></div>


                    <div id="emailHelp" class="form-text text-center mb-5 text-dark"><a style="color:red">{{msg}}</a>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


<style>
    .btn-color {
        background-color: #0e1c36;
        color: #fff;

    }

    .profile-image-pic {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }



    .cardbody-color {
        background-color: #ebf2fa;
    }

    a {
        text-decoration: none;
    }
</style>